extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis ac lorem vulputate elementum. Donec ut est purus. Aenean vehicula quam ac ex porta bibendum. Donec viverra tristique eros. Proin dolor massa, tincidunt eleifend erat nec, malesuada ultricies magna.               
                p Etiam elit libero, commodo in tellus hendrerit, imperdiet pretium diam. Fusce tincidunt risus a dui faucibus, ac accumsan dolor posuere. Nulla facilisi.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container
            .row 
                .col-md-6 
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2500 USD
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales